<form #searchForm="ngForm" (ngSubmit)="submitSearch(searchTerm); searchForm.reset()" class="input-group">
    <input #search="ngModel" [(ngModel)]="searchTerm" type="text" class="form-control" name="searchTerm" required minlength="3">
    <button class="input-group-addon" [disabled]="searchForm.invalid">Search</button>

    <span *ngIf="search.value && search.invalid && (search.dirty || search.touched)"
        class="alert alert-danger">
      <span *ngIf="search.errors.required">
        Search term is required.
      </span>
      <span *ngIf="search.errors.minlength">
        Search term must be at least 3 characters long.
      </span>
    </span>
</form>